//Color
$color1: #a78744;
$color2: #20201e;
$color3: #7a6d65;
$color4: #dddbd3;
$color5: #fff;
$color6: #f1f0ec;

$font1: #010101;
$font2: #bb8a30;
$font3: #fff;
$font4: #d3a546;
$font5: #aea99e;
$font6: #786650;
$font7: #928d81;

//Media
$desktop: '(min-width: 1199.99px)';
$mobile: '(max-width: 1199.98px)';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // override bootstrap 3 default (1rem=10px)
  font-size: 16px; //set 1rem = 16px
  height: 100%;
}

body {
  background: url(./images/fresh_snow.jpg) repeat center top;
  font-family: 'Baskervville', serif;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

// bootstrap 4 padding and margin

.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.d-none {
  display: none;
}

// background and btn
.btn-login {
  color: $font3;
  background-color: $color1;
  &:hover {
    color: $font1;
  }
}

.btn-draftar {
  color: $font3;
  background-color: $color2;
  &:hover {
    background-color: $color1;
  }
}

.btn-play {
  padding: 0px 30px;
  box-shadow: inset 0px 3px 6.65px 0.35px rgba(76, 76, 76, 0.54);
  border: 1px solid rgb(120, 120, 120);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  color: rgb(87, 87, 87);
  z-index: 9;
  &:hover {
    background-color: $color1;
    color: $font3;
  }
}

.bg-footer1 {
  background-color: #d9d6d1;
}

.bg-footer2 {
  background-color: #b7b4af;
}



// header
.brand-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  form.loginForm {
    width: 326px;
    height: 38px;
    font-size: 18px;
    border-right: 2px inset $font1;
    input[type='text'] {
      height: 100%;
      padding: 0.5rem 0.75rem;
      border: none;
      float: left;
      width: 50%;
      background: #fff;
      border-top: 2px inset $font1;
      border-bottom: 2px inset $font1;
      border-left: 5px inset $font1;
      &:active,
      &:focus {
        outline: none;
      }
    }
    button {
      height: 100%;
      float: left;
      width: 25%;
      border: none;
      cursor: pointer;
      border-top: 2px inset $font1;
      border-bottom: 2px inset $font1;
      span {
        border-bottom: 1px solid white;
      }
      &:active,
      &:focus {
        outline: none;
      }
    }
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }
}

.nav-container {
  padding: 0 1.5rem;
  .nav-links {
    margin-left: auto;
    margin-bottom: 40px;
    font-size: 22.9px;
    list-style-type: none;
    display: flex;
    max-width: 1070px;
    justify-content: space-between;
    a {
      color: $font1;
      &:hover {
        text-decoration: none;
        color: $font2;
      }
    }
    .active {
      a {
        color: $font2;
        border-bottom: 3px solid $font2;
      }
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
// end of header

// footer
.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .social-icon {
    font-size: 16px;
    color: $color3;
    padding-right: 1rem;
  }
}

.footer-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  .footer-link-item {
    padding-left: 2rem;
    font-size: 10px;
    font-weight: bold;
    a {
      color: $font1;
    }
  }
}

.copyright {
  text-align: right;
  font-size: 9px;
}

.bg-footer2 {
  p {
    margin: 0;
    font-size: 9px;
    font-weight: bold;
    padding: 1rem;
  }
}
// end of footer

// CARDS
.page-title h1 {
  font-size: 35px;
  color: $font2;
  margin: 2.5rem 0 3rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.col-sm-4,
.col-sm-6 {
  padding-bottom: 1rem;
}

.card-body {
  position: relative;
}
// end of CARDs

// card games
.cardgame-title {
  position: absolute;
  width: 100%;
  bottom: 0.9rem;
  display: flex;
  margin-left: 1.5rem;
  padding-right: 2.5rem;
  justify-content: space-between;
  h5 {
    color: $font3;
    font-weight: bold;
    font-size: 22px;
    margin: auto 0;
  }

  @media #{ $mobile } {
    h5 {
      font-size: 20px;
    }
    button.btn-play {
      padding: 8px 22px 8px 22px;
      font-size: 0.9rem;
    }
  }
}
// ene of card games

//live games
.livegame-btn-pos {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  text-align: center;
}
//endof live games

// live casino
.livecasino-btn-pos {
  position: absolute;
  width: 100%;
  bottom: 4rem;
  margin-left: 2rem;
}
// end of live casino

// slots
.slots-btn-pos {
  position: absolute;
  width: 100%;
  bottom: 1.2rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}
// end of slots

// togel
.togel-result-pos {
  position: absolute;
  width: 100%;
  bottom: 1.2rem;
  color: $font3;
  h5 {
    font-size: 1.3rem;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem;
  }
  button {
    padding: 0 1rem;
  }
  .ball-date {
    font-size: 11px;
    padding: 0 4.5rem;
  }
  .togel-ball {
    border-radius: 50%;
    background-image: -moz-radial-gradient(
      50% 50%,
      circle closest-side,
      rgb(255, 255, 255) 1%,
      rgb(228, 228, 228) 82%,
      rgb(200, 200, 200) 99%
    );
    background-image: -webkit-radial-gradient(
      50% 50%,
      circle closest-side,
      rgb(255, 255, 255) 1%,
      rgb(228, 228, 228) 82%,
      rgb(200, 200, 200) 99%
    );
    background-image: -ms-radial-gradient(
      50% 50%,
      circle closest-side,
      rgb(255, 255, 255) 1%,
      rgb(228, 228, 228) 82%,
      rgb(200, 200, 200) 99%
    );
    box-shadow: inset 0px 3px 9.2px 0.8px rgba(76, 76, 76, 0.54);
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 2.3rem;
    width: 60px;
    height: 60px;
    color: rgb(87, 87, 87);
    @media #{$mobile} {
      line-height: 40px;
      font-size: 2rem;
      width: 40px;
      height: 40px;
    }
  }
}
// end of togel