//Color
$color1: #a78744;
$color2: #20201e;
$color3: #7a6d65;
$color4: #dddbd3;
$color5: #fff;
$color6: #f1f0ec;
$color7: #111416;
$color8: #11171b;
$color9: #171e21;

$font1: #010101;
$font2: #bb8a30;
$font3: #fff;
$font4: #d3a546;
$font5: #aea99e;
$font6: #786650;
$font7: #928d81;
$font8: #616567;
$font9: #352e27;
$font10: #878b8d;
$font11: #c2c2c2;
$font12: #b7b7b7;
$font13: #989797;

//Media
$desktop: '(min-width: 1199.99px)';
$mobile: '(max-width: 1199.98px)';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // override bootstrap 3 default (1rem=10px)
  font-size: 16px; //set 1rem = 16px
  min-height: 100%;
}

body {
  background: url(./images/fresh_snow.jpg) repeat center top;
  font-family: 'Cormorant', serif;
  overflow-x: hidden;
  min-height: 100%;
}

// bootstrap 4 padding and margin
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.push-body {
  height: 134.2px;
}

.btn-play {
  background-color: $color5;
  padding: 0px 30px;
  box-shadow: inset 0px 3px 6.65px 0.35px rgba(76, 76, 76, 0.54);
  border: 1px solid rgb(120, 120, 120);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  color: rgb(87, 87, 87);
  z-index: 9;
  &:hover {
    background-color: $color1;
    color: $font3;
  }
}

.btn-tambah {
  display: inline-block;
  border-radius: 0;
  border: none;
  color: $font3;
  font-weight: 600;
  font-size: 13px;
  font-family: 'cormorant', 'serif';
  background-color: #08a061;
  padding: 0.4rem 0.8rem;
}

.btn-ubah {
  display: inline-block;
  border-radius: 0;
  border: none;
  color: $font3;
  font-weight: 600;
  font-size: 13px;
  font-family: 'cormorant', 'serif';
  background-color: $font2;
  padding: 0.4rem 0.8rem;
}

.btn-cancel,
.btn-submit {
  font-size: 1rem;
  font-weight: 600;
  padding: 3px 2.5rem;
  border-radius: 0;
}

.btn-cancel {
  background-color: transparent;
  color: #b9082c;
  border: 2px solid #b9082c;
  margin-right: 1rem;
}
.btn-submit {
  background-color: $font2;
  color: $font3;
  border: 2px solid $font2;
}

// ****************AFTER LOGIN********************//
// NAVIGATION
.inside-nav {
  font-family: 'Cormorant Garamond', serif;
  background-color: $color2;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  .main-brand {
    height: 100%;
  }
  .main-menu {
    max-width: 700px;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    .active {
      a {
        color: $font2;
        border-bottom: 2px solid $font2;
      }
    }
    a {
      color: $font3;
      padding: 3px 5px;
      &:hover {
        text-decoration: none;
        color: $font2;
      }
    }
  }
  .notif-container {
    color: $font3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    small {
      font-family: 'Cormorant', serif;
      font-size: 12px;
      margin: 0 2rem;
    }
    .notif-icons {
      list-style: none;
      display: flex;
      margin: 0;
      a {
        color: $font3;
        font-size: 1.2rem;
        padding: 1rem;
        &:hover {
          text-decoration: none;
          color: $font2;
        }
      }
    }
    a {
      padding-left: 1rem;
    }
  }
}

nav .announcement {
  background-color: $color4;
  color: $font9;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 20px;
  font-weight: bold;
  img {
    padding-right: 1rem;
  }
}
// END OF NAVIGATION

// SIDEBAR
#wrapper {
  min-height: 980px;
  position: relative;
  font-family: 'Cormorant', 'serif';
  padding-left: 0;
  .side-btn {
    position: fixed;
    margin: 5px;
  }
  #sidebar-wrapper {
    position: absolute;
    height: 100%;
    z-index: 1000;
    padding: 2rem 2rem 0rem 3rem;
    margin-left: -328px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $color5;
    .sidebar-header {
      padding: 2rem 0rem;
      overflow: hidden;
      .user-pic {
        float: left;
        width: 87px;
        padding: 3px;
        margin-right: 1rem;
        overflow: hidden;
        background-color: orange;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .user-info {
        float: left;
        padding-top: 3px;
        .user-name {
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          color: $color3;
        }
        .user-role {
          font-size: 11px;
          font-weight: bold;
          color: $font4;
        }
        .user-saldo {
          margin-top: 5px;
          font-size: 16px;
          font-weight: bold;
          color: $font5;
          line-height: 1;
          div {
            font-size: 20px;
            color: $font6;
            line-height: 1.111;
            padding-bottom: 5px;
            position: relative;
            img {
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }
    .sidebar-nav {
      margin-bottom: 4rem;
      .side-nav-list {
        list-style: none;
        li {
          a {
            display: block;
            height: 50px;
            line-height: 50px;
            width: 100%;
            background-color: transparent;
            color: $font7;
            font-size: 20px;
            font-weight: bold;
            padding-left: 1rem;
            &:hover {
              background-color: $color6;
              color: $font1;
              text-decoration: none;
            }
          }
        }
        li.active {
          a {
            color: $font1;
            background-color: $color6;
          }
        }
      }
    }
    .sidebar-promosi {
      a {
        width: 100%;
      }
    }
    .sidebar-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: $color3;
        &:hover {
          text-decoration: none;
          color: $font4;
        }
      }
    }
  }
  #sidebar-wrapper::-webkit-scrollbar {
    display: none;
  }
  #content-wrapper {
    margin-left: 4.5rem;
    padding: 1.5rem 0;
  }
}

#wrapper.toggled {
  padding-left: 328px;
  #sidebar-wrapper {
    width: 328px;
    position: absolute;
    display: inline-block;
    left: 328px;
  }
  #content-wrapper {
    margin-left: 1.5rem;
    width: 100%;
  }
  .cards-container {
    padding-right: 5%;
  }
}

button.open-menu,
button.close-menu {
  background: transparent;
  border: none;
  &:active,
  &:focus {
    outline: none;
  }
}

button.close-menu {
  display: block;
  margin-left: auto;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 134.2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(23, 30, 33);
  opacity: 0.502;
  z-index: 1;
}
// SIDEBAR

// CARDGAMES
.page-intro {
  font-size: 24px;
  font-weight: bold;
  color: $font8;
  margin: 2rem 0;
}

.cards-container {
  max-width: 1200px;
  .row {
    margin: 0;
    .col-sm-3 {
      color: $color5;
      padding: 0 0.5rem;
      padding-bottom: 1rem;
      .card-body {
        position: relative;
        .cardgame-btn {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 0 1.5rem 0 0.5rem;
          .cardgame {
            justify-content: space-between;
            h5 {
              font-size: 22px;
              font-weight: 500;
              font-family: 'Baskervville', serif;
            }
          }
        }
      }
    }
  }
}
// END OF CARD GAMES

// TOGEL
.togel-res {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  bottom: 1.2rem;
  padding: 0 1rem;
  color: $font3;
  h5 {
    font-family: serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  button {
    font-weight: 13px;
    padding: 0 2.3rem;
  }
  .ball-date {
    font-size: 11px;
  }
  hr {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .togel-ball {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(87, 87, 87);
    border-radius: 50%;
    box-shadow: inset 0px 3px 9.2px 0.8px rgba(76, 76, 76, 0.54);
    // mozilla
    background-image: -moz-radial-gradient(
      50% 50%,
      circle closest-side,
      rgb(255, 255, 255) 1%,
      rgb(228, 228, 228) 82%,
      rgb(200, 200, 200) 99%
    );
    // chrome
    background-image: -webkit-radial-gradient(
      50% 50%,
      circle closest-side,
      rgb(255, 255, 255) 1%,
      rgb(228, 228, 228) 82%,
      rgb(200, 200, 200) 99%
    );
  }
}
// END OF TOGEL

// SLOTS
.slots-pos {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1.5rem;
}
// END OF SLOTS

// DEPOSIT/WITHDRAW
.main-content {
  .nav-tabs {
    margin: 1rem 0 1px 2rem;
    border: none;
    li {
      a {
        color: $font1;
        font-size: 22px;
        font-weight: bold;
        border: none;
        border-radius: 0;
        padding: 0.5rem 2rem;
        &:focus,
        &:active {
          outline: none;
        }
      }
      &.active {
        a {
          color: $font2;
          border-bottom: 3px solid orange;
        }
      }
    }
  }
}

.tab-content {
  background-color: $color7;
  color: $font3;
  padding: 2rem 4rem;
  margin-right: 4rem;
  max-width: 1288px;
  .tab-pane {
    max-width: 1000px;
    h4 {
      font-size: 18px;
      font-weight: 500;
    }
    .form-title {
      display: block;
      font-size: 13px;
      font-weight: bold;
      text-decoration: underline;
      color: $font2;
      margin: 1.5rem 0;
      img {
        padding-right: 0.5rem;
      }
    }
    #depositForm,
    #withdrawForm {
      color: $font10;
      font-size: 15px;
      font-weight: bold;
      .tab-content {
        background-color: transparent;
        color: inherit;
        padding: 0;
        margin-right: 0;
      }
      .form-group {
        padding: 0.8rem 2rem 0.8rem 1rem;
        margin-bottom: 1.5rem;
        background-color: $color9;
        label {
          display: block;
          margin: 0;
          margin-bottom: 0.5rem;
          &.bukit {
            display: inline-block;
            small {
              font-size: 8px;
            }
          }
        }
        .tambah-group,
        .withdraw-amount {
          display: flex;
          justify-content: space-between;
          .current-bal {
            background: $font2;
            color: $font3;
            font-size: 13px;
            font-weight: bold;
            line-height: 2;
            width: auto;
            padding: 0 1rem;
            width: 35.4%;
          }
        }
        .form-control {
          padding: 0px 5px;
          height: 28px;
          font-weight: 500;
          font-size: 14px;
          background-color: $color8;
          border-radius: 0;
          &.withdraw-bal {
            display: inline-block;
            width: 64.6%;
          }
        }
        .tambah-group {
          .tambah {
            display: inline-block;
            width: 65%;
            padding: 0px;
          }
          .btn-tambah {
            height: 28px;
            line-height: 100%;
            padding: 0.2rem 2.2rem;
            font-family: 'roboto', 'serif';
          }
        }

        .ml-auto {
          float: right;
          font-family: 'roboto', 'serif';
          input[type='file'] {
            display: none;
          }
          .btn-file {
            border-radius: 0;
            background-color: $color5;
            color: $font1;
            display: inline-block;
            font-size: 10px;
            font-weight: bold;
            padding: 3px 10px;
            margin-right: 1rem;
          }
          .fileName {
            font-size: 12px;
          }
        }
        .bank-list {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          li {
            list-style: none;
            font-weight: bold;
            font-size: 13px;
            padding: 0;
            span {
              display: inline-block;
              height: 5px;
              width: 5px;
              margin-right: 5px;
              border-radius: 100%;
              border: none;
            }
            div.offline {
              color: #b9082c;
              span {
                background-color: #b9082c;
              }
            }
            div.online {
              color: green;
              span {
                background-color: green;
              }
            }
          }
        }
        .account-name {
          color: $font3;
          font-weight: 500;
          font-size: 14px;
        }
      }
      .info-message {
        font-family: 'roboto', serif;
        color: $font3;
        .info-title {
          font-size: 13px;
          font-weight: 500;
        }
        p {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

// radio button custom style
.depositmethods,
.withdrawmethods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .radio-item {
    display: inline-block;
    position: relative;
    margin: 10px 0 0;
    input[type='radio'] {
      display: none;
    }
    label {
      color: $font3;
      font-size: 1rem;
      font-weight: bold;
      &::before {
        content: ' ';
        display: inline-block;
        position: relative;
        margin-right: 10px;
        top: 3px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        border: 3px solid $font2;
        background-color: transparent;
      }
    }
    input[type='radio']:checked + label:after {
      border-radius: 7px;
      width: 7px;
      height: 7px;
      position: absolute;
      top: 7.8px;
      left: 4.4px;
      content: ' ';
      display: block;
      background: $font2;
    }
  }
}

.withdrawmethods {
  input[type='radio']:checked + label:after {
    top: 7.4px !important;
  }
}

// end of DEPOSIT/WITHDRAW

// profile
.profile-tab {
  background-color: $color7;
  color: $font3;
  padding: 2rem 2rem;
  max-width: 1288px;
  #profile {
    max-width: 1200px;
    #profileForm {
      color: $font12;
      font-size: 22px;
      font-weight: bold;
      .ubah-password {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: $font2;
        margin: 1.5rem 0;
        img {
          height: 100%;
          margin-right: 1rem;
        }
      }
      .profile-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        h5 {
          font-size: 13px;
          font-weight: bold;
          color: $font11;
        }
        .userdate-container {
          display: flex;
          div {
            padding: 0 1rem;
          }
          h3 {
            font-size: 17px;
            color: $font3;
            font-family: 'serif';
          }
          .join-date {
            margin-right: 4rem;
          }
        }
        .userinfo-container {
          display: flex;
          .profile-pic {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 1rem;
            img {
              width: 80px;
              border-radius: 50%;
              padding: 3px;
              margin-bottom: 0.3rem;
              border: 3px solid $font2;
            }
            .btn-change {
              color: $font2;
              font-size: 13px;
              font-weight: bold;
              text-decoration: underline;
            }
          }
          .profile-info {
            margin-top: 0.5rem;
            .profile-name {
              color: $font3;
              font-size: 21px;
              line-height: 1.1;
            }
            .profile-role {
              color: $font2;
              font-size: 11px;
            }
          }
        }
      }
      .form-group {
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin-bottom: 1.5rem;
        background-color: $color9;
        label {
          display: block;
          margin-bottom: 0.5rem;
          line-height: 1.2;
        }
        p {
          font-size: 14px;
          font-weight: bold;
          color: $font13;
          margin-bottom: 3px;
        }
        h3 {
          font-size: 19px;
          font-weight: bold;
          span {
            color: $font3;
          }
        }
        .notif-options {
          display: flex;
          justify-content: space-between;
          color: $font3;
          //*****custom checkbox*******//
          label {
            display: block;
            position: relative;
            cursor: pointer;
            margin: 0;
            padding-left: 1.7rem;
            font-size: 1rem;
            font-weight: 500;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover input ~ .checkmark {
              background-color: #ccc;
            }
            .checkmark {
              position: absolute;
              bottom: 3px;
              left: 0;
              height: 13px;
              width: 13px;
              background-color: $color5;
              &:after {
                content: '';
                position: absolute;
                display: none;
                left: 6px;
                top: -6px;
                width: 8px;
                height: 16px;
                border: solid white;
                border-width: 0 3.5px 3.5px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
            input[type='checkbox'] {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              &:checked ~ {
                .checkmark {
                  background-color: $font4;
                  &::after {
                    display: block;
                  }
                }
              }
            }
          }
        }
        .email-info {
          input {
            background: $color8;
            padding: 3px 10px;
            border: 1px solid $color5;
            &:disabled {
              background-color: transparent;
              border: none;
            }
            &:focus {
              color: $font2;
              border: 1px solid $font2;
              outline: none;
            }
          }
        }
        .email-info,
        .bank-info {
          padding: 0 0.5rem;
          font-size: 17px;
          justify-content: space-between;
        }
        .add-bank {
          margin-top: 1rem;
          .custom-select {
            width: 30%;
            margin-right: 1rem;
            height: 35px;
            .select-selected {
              height: 35px;
              line-height: 35px;
              &::after {
                top: 15px;
              }
              &.select-arrow-active::after {
                top: 8px;
              }
            }
          }
          input[type='text'] {
            width: 45%;
          }
        }
      }
    }
  }
}
.form-control {
  padding: 0px 10px;
  height: 35px;
  color: $font3;
  font-weight: 500;
  font-size: 17px;
  background-color: $color8;
  border-radius: 0;
  &#alias:disabled {
    color: $font2;
    border: 1px solid $font2;
    background-color: $color8;
  }
  &::placeholder {
    color: $font10;
  }
  &:focus {
    border: 1px solid $font2;
    box-shadow: none;
    color: $font4;
    &::placeholder {
      color: $font4;
    }
  }
}
// end of profile

// customize select style
.custom-select {
  position: relative;
  height: 28px;
  color: $font3;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0;
  .select-selected {
    display: flex;
  }
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 6px 3px;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 5px;
}
/*activate border when focused*/
.select-selected.select-arrow-active {
  border: 1px solid $font2;
  border-bottom: none;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.select-selected {
  background-color: $color8;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: $color8;
  border: 1px solid $font2;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  div:last-child {
    border: none;
  }
  div:first-child {
    padding-top: 0;
  }
}

// line every opty+
.select-items div {
  border: 1px solid #bababa;
  border-color: transparent transparent #bababa transparent;
  margin: 0 10px;
  padding: 5px 0px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(255, 153, 0, 0.1);
  border: 1px solid $font2;
  border-color: transparent transparent $font2 transparent;
}
//end of customize select style

// bank details table
.tujuan {
  font-family: 'baskervvile', 'serif';
  width: 350px;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 12px;
  color: $font3;
  table {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1.5px $color5;
    td {
      padding: 5px 1rem !important;
    }
  }
}
// end of bank details table

// Change Profile Image
#profile-gallery {
  .modal-dialog {
    width: 750px;
    margin: 5rem auto 0 auto;
    color: $font3;
    .modal-content {
      border: 3px solid $font2;
      border-radius: 1rem;
      background-color: #211f1f;
      .modal-header {
        border: none;
        padding: 2rem;
        .modal-title {
          font-size: 2rem;
        }
        span {
          margin-left: auto;
          position: relative;
          overflow: hidden;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.3rem 1rem;
          border-radius: 5px;
          background-color: $font2;
          color: $font3;
          border: 2px solid $font2;
          cursor: pointer;
          .change-btn {
            cursor: inherit;
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            line-height: 100%;
            text-align: right;
            outline: none;
            background-color: transparent;
            display: block;
            opacity: 0;
          }
        }
      }
      p {
        padding: 0rem 2rem;
        font-size: 20px;
      }
      .modal-body {
        max-height: calc(100vh - 350px);
        overflow-y: auto;
        margin: 0 1rem 1rem 1rem;
        padding: 0 1rem;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
          background-color: $font5;
        }
        &::-webkit-scrollbar-thumb {
          background: #4d4d4d;
          border-radius: 10px;
          &:hover {
            opacity: 0.5;
          }
        }
        .gallery {
          display: flex;
          flex-wrap: wrap;
          margin: -0.75rem;
          .gallery-item {
            flex: 0 0 7.2rem;
            margin: 0.75rem;
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 400ms ease-out;
              &:hover {
                transform: scale(1.15);
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 1rem 2rem 2rem 2rem;
        border: none;
      }
    }
  }
}
// end of change profile image

// add bank modal
.tambahModal {
  .modal-dialog {
    width: 500px;
    margin: 8rem auto;
    .modal-content {
      border: 3px solid $font3;
      border-radius: 1.5rem;
      background-color: $font1;
      color: $font3;
      .modal-header {
        margin-top: 2rem;
        border: none;
        .modal-title {
          font-size: 28px;
        }
      }
      .modal-body {
        padding: 0 2rem 3rem 2rem;
        #addBankForm,
        #addProviderForm {
          label {
            font-size: 16px;
          }
          .form-control {
            font-size: 16px;
            font-weight: 500;
            background-color: $font3;
            &:disabled {
              background-color: $font11;
              &::placeholder {
                color: $font3;
              }
            }
          }
          .custom-select {
            font-size: 16px;
            height: 36px;
            .select-selected {
              background-color: $color5;
              padding: 0 10px;
              height: 36px;
              line-height: 36px;
              &::after {
                border: solid transparent;
                border-width: 10px 7px;
                border-color: $font10 transparent transparent transparent;
              }
              &.select-arrow-active::after {
                border-color: transparent transparent $font10 transparent;
                top: 2px;
              }
            }
            .select-items {
              background-color: $color5;
            }
            .select-items div,
            .select-selected {
              color: black;
              font-weight: 600;
              cursor: pointer;
              user-select: none;
            }
            .select-items div {
              border: none;
            }
          }
        }
      }
    }
  }
}

.disabled-group {
  position: relative;
  .fa-lock {
    position: absolute;
    color: $color7;
    font-size: 18px;
    top: 9px;
    right: 6px;
  }
}
// end of add bank modal

// live casino

.livecasino-btn-pos {
  position: absolute;
  width: 100%;
  bottom: 4rem;
  margin-left: 2rem;
}

// end of live casino
