* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
}

body {
  background: url(./images/fresh_snow.jpg) repeat center top;
  font-family: "Cormorant", serif;
  overflow-x: hidden;
  min-height: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.push-body {
  height: 134.2px;
}

.btn-play {
  background-color: #fff;
  padding: 0px 30px;
  box-shadow: inset 0px 3px 6.65px 0.35px rgba(76, 76, 76, 0.54);
  border: 1px solid #787878;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  color: #575757;
  z-index: 9;
}
.btn-play:hover {
  background-color: #a78744;
  color: #fff;
}

.btn-tambah {
  display: inline-block;
  border-radius: 0;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  font-family: "cormorant", "serif";
  background-color: #08a061;
  padding: 0.4rem 0.8rem;
}

.btn-ubah {
  display: inline-block;
  border-radius: 0;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  font-family: "cormorant", "serif";
  background-color: #bb8a30;
  padding: 0.4rem 0.8rem;
}

.btn-cancel,
.btn-submit {
  font-size: 1rem;
  font-weight: 600;
  padding: 3px 2.5rem;
  border-radius: 0;
}

.btn-cancel {
  background-color: transparent;
  color: #b9082c;
  border: 2px solid #b9082c;
  margin-right: 1rem;
}

.btn-submit {
  background-color: #bb8a30;
  color: #fff;
  border: 2px solid #bb8a30;
}

.inside-nav {
  font-family: "Cormorant Garamond", serif;
  background-color: #20201e;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.inside-nav .main-brand {
  height: 100%;
}
.inside-nav .main-menu {
  max-width: 700px;
  width: 100%;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
}
.inside-nav .main-menu .active a {
  color: #bb8a30;
  border-bottom: 2px solid #bb8a30;
}
.inside-nav .main-menu a {
  color: #fff;
  padding: 3px 5px;
}
.inside-nav .main-menu a:hover {
  text-decoration: none;
  color: #bb8a30;
}
.inside-nav .notif-container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inside-nav .notif-container small {
  font-family: "Cormorant", serif;
  font-size: 12px;
  margin: 0 2rem;
}
.inside-nav .notif-container .notif-icons {
  list-style: none;
  display: flex;
  margin: 0;
}
.inside-nav .notif-container .notif-icons a {
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
}
.inside-nav .notif-container .notif-icons a:hover {
  text-decoration: none;
  color: #bb8a30;
}
.inside-nav .notif-container a {
  padding-left: 1rem;
}

nav .announcement {
  background-color: #dddbd3;
  color: #352e27;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 20px;
  font-weight: bold;
}
nav .announcement img {
  padding-right: 1rem;
}

#wrapper {
  min-height: 980px;
  position: relative;
  font-family: "Cormorant", "serif";
  padding-left: 0;
}
#wrapper .side-btn {
  position: fixed;
  margin: 5px;
}
#wrapper #sidebar-wrapper {
  position: absolute;
  height: 100%;
  z-index: 1000;
  padding: 2rem 2rem 0rem 3rem;
  margin-left: -328px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
}
#wrapper #sidebar-wrapper .sidebar-header {
  padding: 2rem 0rem;
  overflow: hidden;
}
#wrapper #sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 87px;
  padding: 3px;
  margin-right: 1rem;
  overflow: hidden;
  background-color: orange;
}
#wrapper #sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#wrapper #sidebar-wrapper .sidebar-header .user-info {
  float: left;
  padding-top: 3px;
}
#wrapper #sidebar-wrapper .sidebar-header .user-info .user-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #7a6d65;
}
#wrapper #sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 11px;
  font-weight: bold;
  color: #d3a546;
}
#wrapper #sidebar-wrapper .sidebar-header .user-info .user-saldo {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #aea99e;
  line-height: 1;
}
#wrapper #sidebar-wrapper .sidebar-header .user-info .user-saldo div {
  font-size: 20px;
  color: #786650;
  line-height: 1.111;
  padding-bottom: 5px;
  position: relative;
}
#wrapper #sidebar-wrapper .sidebar-header .user-info .user-saldo div img {
  position: absolute;
  bottom: 0;
  left: 0;
}
#wrapper #sidebar-wrapper .sidebar-nav {
  margin-bottom: 4rem;
}
#wrapper #sidebar-wrapper .sidebar-nav .side-nav-list {
  list-style: none;
}
#wrapper #sidebar-wrapper .sidebar-nav .side-nav-list li a {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: transparent;
  color: #928d81;
  font-size: 20px;
  font-weight: bold;
  padding-left: 1rem;
}
#wrapper #sidebar-wrapper .sidebar-nav .side-nav-list li a:hover {
  background-color: #f1f0ec;
  color: #010101;
  text-decoration: none;
}
#wrapper #sidebar-wrapper .sidebar-nav .side-nav-list li.active a {
  color: #010101;
  background-color: #f1f0ec;
}
#wrapper #sidebar-wrapper .sidebar-promosi a {
  width: 100%;
}
#wrapper #sidebar-wrapper .sidebar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper #sidebar-wrapper .sidebar-icons a {
  color: #7a6d65;
}
#wrapper #sidebar-wrapper .sidebar-icons a:hover {
  text-decoration: none;
  color: #d3a546;
}
#wrapper #sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper #content-wrapper {
  margin-left: 4.5rem;
  padding: 1.5rem 0;
}

#wrapper.toggled {
  padding-left: 328px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 328px;
  position: absolute;
  display: inline-block;
  left: 328px;
}
#wrapper.toggled #content-wrapper {
  margin-left: 1.5rem;
  width: 100%;
}
#wrapper.toggled .cards-container {
  padding-right: 5%;
}

button.open-menu,
button.close-menu {
  background: transparent;
  border: none;
}
button.open-menu:active, button.open-menu:focus,
button.close-menu:active,
button.close-menu:focus {
  outline: none;
}

button.close-menu {
  display: block;
  margin-left: auto;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 134.2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #171e21;
  opacity: 0.502;
  z-index: 1;
}

.page-intro {
  font-size: 24px;
  font-weight: bold;
  color: #616567;
  margin: 2rem 0;
}

.cards-container {
  max-width: 1200px;
}
.cards-container .row {
  margin: 0;
}
.cards-container .row .col-sm-3 {
  color: #fff;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
.cards-container .row .col-sm-3 .card-body {
  position: relative;
}
.cards-container .row .col-sm-3 .card-body .cardgame-btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 1.5rem 0 0.5rem;
}
.cards-container .row .col-sm-3 .card-body .cardgame-btn .cardgame {
  justify-content: space-between;
}
.cards-container .row .col-sm-3 .card-body .cardgame-btn .cardgame h5 {
  font-size: 22px;
  font-weight: 500;
  font-family: "Baskervville", serif;
}

.togel-res {
  position: absolute;
  font-family: "Roboto", sans-serif;
  width: 100%;
  bottom: 1.2rem;
  padding: 0 1rem;
  color: #fff;
}
.togel-res h5 {
  font-family: serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.togel-res div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.togel-res button {
  font-weight: 13px;
  padding: 0 2.3rem;
}
.togel-res .ball-date {
  font-size: 11px;
}
.togel-res hr {
  margin: 0;
  margin-bottom: 0.5rem;
}
.togel-res .togel-ball {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #575757;
  border-radius: 50%;
  box-shadow: inset 0px 3px 9.2px 0.8px rgba(76, 76, 76, 0.54);
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, white 1%, #e4e4e4 82%, #c8c8c8 99%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, white 1%, #e4e4e4 82%, #c8c8c8 99%);
}

.slots-pos {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1.5rem;
}

.main-content .nav-tabs {
  margin: 1rem 0 1px 2rem;
  border: none;
}
.main-content .nav-tabs li a {
  color: #010101;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  padding: 0.5rem 2rem;
}
.main-content .nav-tabs li a:focus, .main-content .nav-tabs li a:active {
  outline: none;
}
.main-content .nav-tabs li.active a {
  color: #bb8a30;
  border-bottom: 3px solid orange;
}

.tab-content {
  background-color: #111416;
  color: #fff;
  padding: 2rem 4rem;
  margin-right: 4rem;
  max-width: 1288px;
}
.tab-content .tab-pane {
  max-width: 1000px;
}
.tab-content .tab-pane h4 {
  font-size: 18px;
  font-weight: 500;
}
.tab-content .tab-pane .form-title {
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: #bb8a30;
  margin: 1.5rem 0;
}
.tab-content .tab-pane .form-title img {
  padding-right: 0.5rem;
}
.tab-content .tab-pane #depositForm,
.tab-content .tab-pane #withdrawForm {
  color: #878b8d;
  font-size: 15px;
  font-weight: bold;
}
.tab-content .tab-pane #depositForm .tab-content,
.tab-content .tab-pane #withdrawForm .tab-content {
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin-right: 0;
}
.tab-content .tab-pane #depositForm .form-group,
.tab-content .tab-pane #withdrawForm .form-group {
  padding: 0.8rem 2rem 0.8rem 1rem;
  margin-bottom: 1.5rem;
  background-color: #171e21;
}
.tab-content .tab-pane #depositForm .form-group label,
.tab-content .tab-pane #withdrawForm .form-group label {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
}
.tab-content .tab-pane #depositForm .form-group label.bukit,
.tab-content .tab-pane #withdrawForm .form-group label.bukit {
  display: inline-block;
}
.tab-content .tab-pane #depositForm .form-group label.bukit small,
.tab-content .tab-pane #withdrawForm .form-group label.bukit small {
  font-size: 8px;
}
.tab-content .tab-pane #depositForm .form-group .tambah-group,
.tab-content .tab-pane #depositForm .form-group .withdraw-amount,
.tab-content .tab-pane #withdrawForm .form-group .tambah-group,
.tab-content .tab-pane #withdrawForm .form-group .withdraw-amount {
  display: flex;
  justify-content: space-between;
}
.tab-content .tab-pane #depositForm .form-group .tambah-group .current-bal,
.tab-content .tab-pane #depositForm .form-group .withdraw-amount .current-bal,
.tab-content .tab-pane #withdrawForm .form-group .tambah-group .current-bal,
.tab-content .tab-pane #withdrawForm .form-group .withdraw-amount .current-bal {
  background: #bb8a30;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 2;
  width: auto;
  padding: 0 1rem;
  width: 35.4%;
}
.tab-content .tab-pane #depositForm .form-group .form-control,
.tab-content .tab-pane #withdrawForm .form-group .form-control {
  padding: 0px 5px;
  height: 28px;
  font-weight: 500;
  font-size: 14px;
  background-color: #11171b;
  border-radius: 0;
}
.tab-content .tab-pane #depositForm .form-group .form-control.withdraw-bal,
.tab-content .tab-pane #withdrawForm .form-group .form-control.withdraw-bal {
  display: inline-block;
  width: 64.6%;
}
.tab-content .tab-pane #depositForm .form-group .tambah-group .tambah,
.tab-content .tab-pane #withdrawForm .form-group .tambah-group .tambah {
  display: inline-block;
  width: 65%;
  padding: 0px;
}
.tab-content .tab-pane #depositForm .form-group .tambah-group .btn-tambah,
.tab-content .tab-pane #withdrawForm .form-group .tambah-group .btn-tambah {
  height: 28px;
  line-height: 100%;
  padding: 0.2rem 2.2rem;
  font-family: "roboto", "serif";
}
.tab-content .tab-pane #depositForm .form-group .ml-auto,
.tab-content .tab-pane #withdrawForm .form-group .ml-auto {
  float: right;
  font-family: "roboto", "serif";
}
.tab-content .tab-pane #depositForm .form-group .ml-auto input[type=file],
.tab-content .tab-pane #withdrawForm .form-group .ml-auto input[type=file] {
  display: none;
}
.tab-content .tab-pane #depositForm .form-group .ml-auto .btn-file,
.tab-content .tab-pane #withdrawForm .form-group .ml-auto .btn-file {
  border-radius: 0;
  background-color: #fff;
  color: #010101;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 1rem;
}
.tab-content .tab-pane #depositForm .form-group .ml-auto .fileName,
.tab-content .tab-pane #withdrawForm .form-group .ml-auto .fileName {
  font-size: 12px;
}
.tab-content .tab-pane #depositForm .form-group .bank-list,
.tab-content .tab-pane #withdrawForm .form-group .bank-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.tab-content .tab-pane #depositForm .form-group .bank-list li,
.tab-content .tab-pane #withdrawForm .form-group .bank-list li {
  list-style: none;
  font-weight: bold;
  font-size: 13px;
  padding: 0;
}
.tab-content .tab-pane #depositForm .form-group .bank-list li span,
.tab-content .tab-pane #withdrawForm .form-group .bank-list li span {
  display: inline-block;
  height: 5px;
  width: 5px;
  margin-right: 5px;
  border-radius: 100%;
  border: none;
}
.tab-content .tab-pane #depositForm .form-group .bank-list li div.offline,
.tab-content .tab-pane #withdrawForm .form-group .bank-list li div.offline {
  color: #b9082c;
}
.tab-content .tab-pane #depositForm .form-group .bank-list li div.offline span,
.tab-content .tab-pane #withdrawForm .form-group .bank-list li div.offline span {
  background-color: #b9082c;
}
.tab-content .tab-pane #depositForm .form-group .bank-list li div.online,
.tab-content .tab-pane #withdrawForm .form-group .bank-list li div.online {
  color: green;
}
.tab-content .tab-pane #depositForm .form-group .bank-list li div.online span,
.tab-content .tab-pane #withdrawForm .form-group .bank-list li div.online span {
  background-color: green;
}
.tab-content .tab-pane #depositForm .form-group .account-name,
.tab-content .tab-pane #withdrawForm .form-group .account-name {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.tab-content .tab-pane #depositForm .info-message,
.tab-content .tab-pane #withdrawForm .info-message {
  font-family: "roboto", serif;
  color: #fff;
}
.tab-content .tab-pane #depositForm .info-message .info-title,
.tab-content .tab-pane #withdrawForm .info-message .info-title {
  font-size: 13px;
  font-weight: 500;
}
.tab-content .tab-pane #depositForm .info-message p,
.tab-content .tab-pane #withdrawForm .info-message p {
  font-size: 12px;
  font-weight: normal;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.depositmethods,
.withdrawmethods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.depositmethods .radio-item,
.withdrawmethods .radio-item {
  display: inline-block;
  position: relative;
  margin: 10px 0 0;
}
.depositmethods .radio-item input[type=radio],
.withdrawmethods .radio-item input[type=radio] {
  display: none;
}
.depositmethods .radio-item label,
.withdrawmethods .radio-item label {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.depositmethods .radio-item label::before,
.withdrawmethods .radio-item label::before {
  content: " ";
  display: inline-block;
  position: relative;
  margin-right: 10px;
  top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 3px solid #bb8a30;
  background-color: transparent;
}
.depositmethods .radio-item input[type=radio]:checked + label:after,
.withdrawmethods .radio-item input[type=radio]:checked + label:after {
  border-radius: 7px;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 7.8px;
  left: 4.4px;
  content: " ";
  display: block;
  background: #bb8a30;
}

.withdrawmethods input[type=radio]:checked + label:after {
  top: 7.4px !important;
}

.profile-tab {
  background-color: #111416;
  color: #fff;
  padding: 2rem 2rem;
  max-width: 1288px;
}
.profile-tab #profile {
  max-width: 1200px;
}
.profile-tab #profile #profileForm {
  color: #b7b7b7;
  font-size: 22px;
  font-weight: bold;
}
.profile-tab #profile #profileForm .ubah-password {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #bb8a30;
  margin: 1.5rem 0;
}
.profile-tab #profile #profileForm .ubah-password img {
  height: 100%;
  margin-right: 1rem;
}
.profile-tab #profile #profileForm .profile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.profile-tab #profile #profileForm .profile-header h5 {
  font-size: 13px;
  font-weight: bold;
  color: #c2c2c2;
}
.profile-tab #profile #profileForm .profile-header .userdate-container {
  display: flex;
}
.profile-tab #profile #profileForm .profile-header .userdate-container div {
  padding: 0 1rem;
}
.profile-tab #profile #profileForm .profile-header .userdate-container h3 {
  font-size: 17px;
  color: #fff;
  font-family: "serif";
}
.profile-tab #profile #profileForm .profile-header .userdate-container .join-date {
  margin-right: 4rem;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container {
  display: flex;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container .profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container .profile-pic img {
  width: 80px;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 0.3rem;
  border: 3px solid #bb8a30;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container .profile-pic .btn-change {
  color: #bb8a30;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container .profile-info {
  margin-top: 0.5rem;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container .profile-info .profile-name {
  color: #fff;
  font-size: 21px;
  line-height: 1.1;
}
.profile-tab #profile #profileForm .profile-header .userinfo-container .profile-info .profile-role {
  color: #bb8a30;
  font-size: 11px;
}
.profile-tab #profile #profileForm .form-group {
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-bottom: 1.5rem;
  background-color: #171e21;
}
.profile-tab #profile #profileForm .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.profile-tab #profile #profileForm .form-group p {
  font-size: 14px;
  font-weight: bold;
  color: #989797;
  margin-bottom: 3px;
}
.profile-tab #profile #profileForm .form-group h3 {
  font-size: 19px;
  font-weight: bold;
}
.profile-tab #profile #profileForm .form-group h3 span {
  color: #fff;
}
.profile-tab #profile #profileForm .form-group .notif-options {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.profile-tab #profile #profileForm .form-group .notif-options label {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding-left: 1.7rem;
  font-size: 1rem;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile-tab #profile #profileForm .form-group .notif-options label:hover input ~ .checkmark {
  background-color: #ccc;
}
.profile-tab #profile #profileForm .form-group .notif-options label .checkmark {
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #fff;
}
.profile-tab #profile #profileForm .form-group .notif-options label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: -6px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3.5px 3.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.profile-tab #profile #profileForm .form-group .notif-options label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.profile-tab #profile #profileForm .form-group .notif-options label input[type=checkbox]:checked ~ .checkmark {
  background-color: #d3a546;
}
.profile-tab #profile #profileForm .form-group .notif-options label input[type=checkbox]:checked ~ .checkmark::after {
  display: block;
}
.profile-tab #profile #profileForm .form-group .email-info input {
  background: #11171b;
  padding: 3px 10px;
  border: 1px solid #fff;
}
.profile-tab #profile #profileForm .form-group .email-info input:disabled {
  background-color: transparent;
  border: none;
}
.profile-tab #profile #profileForm .form-group .email-info input:focus {
  color: #bb8a30;
  border: 1px solid #bb8a30;
  outline: none;
}
.profile-tab #profile #profileForm .form-group .email-info,
.profile-tab #profile #profileForm .form-group .bank-info {
  padding: 0 0.5rem;
  font-size: 17px;
  justify-content: space-between;
}
.profile-tab #profile #profileForm .form-group .add-bank {
  margin-top: 1rem;
}
.profile-tab #profile #profileForm .form-group .add-bank .custom-select {
  width: 30%;
  margin-right: 1rem;
  height: 35px;
}
.profile-tab #profile #profileForm .form-group .add-bank .custom-select .select-selected {
  height: 35px;
  line-height: 35px;
}
.profile-tab #profile #profileForm .form-group .add-bank .custom-select .select-selected::after {
  top: 15px;
}
.profile-tab #profile #profileForm .form-group .add-bank .custom-select .select-selected.select-arrow-active::after {
  top: 8px;
}
.profile-tab #profile #profileForm .form-group .add-bank input[type=text] {
  width: 45%;
}

.form-control {
  padding: 0px 10px;
  height: 35px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  background-color: #11171b;
  border-radius: 0;
}
.form-control#alias:disabled {
  color: #bb8a30;
  border: 1px solid #bb8a30;
  background-color: #11171b;
}
.form-control::placeholder {
  color: #878b8d;
}
.form-control:focus {
  border: 1px solid #bb8a30;
  box-shadow: none;
  color: #d3a546;
}
.form-control:focus::placeholder {
  color: #d3a546;
}

.custom-select {
  position: relative;
  height: 28px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0;
}
.custom-select .select-selected {
  display: flex;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 6px 3px;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 5px;
}

/*activate border when focused*/
.select-selected.select-arrow-active {
  border: 1px solid #bb8a30;
  border-bottom: none;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.select-selected {
  background-color: #11171b;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #11171b;
  border: 1px solid #bb8a30;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-items div:last-child {
  border: none;
}
.select-items div:first-child {
  padding-top: 0;
}

.select-items div {
  border: 1px solid #bababa;
  border-color: transparent transparent #bababa transparent;
  margin: 0 10px;
  padding: 5px 0px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(255, 153, 0, 0.1);
  border: 1px solid #bb8a30;
  border-color: transparent transparent #bb8a30 transparent;
}

.tujuan {
  font-family: "baskervvile", "serif";
  width: 350px;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.tujuan table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1.5px #fff;
}
.tujuan table td {
  padding: 5px 1rem !important;
}

#profile-gallery .modal-dialog {
  width: 750px;
  margin: 5rem auto 0 auto;
  color: #fff;
}
#profile-gallery .modal-dialog .modal-content {
  border: 3px solid #bb8a30;
  border-radius: 1rem;
  background-color: #211f1f;
}
#profile-gallery .modal-dialog .modal-content .modal-header {
  border: none;
  padding: 2rem;
}
#profile-gallery .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 2rem;
}
#profile-gallery .modal-dialog .modal-content .modal-header span {
  margin-left: auto;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #bb8a30;
  color: #fff;
  border: 2px solid #bb8a30;
  cursor: pointer;
}
#profile-gallery .modal-dialog .modal-content .modal-header span .change-btn {
  cursor: inherit;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  line-height: 100%;
  text-align: right;
  outline: none;
  background-color: transparent;
  display: block;
  opacity: 0;
}
#profile-gallery .modal-dialog .modal-content p {
  padding: 0rem 2rem;
  font-size: 20px;
}
#profile-gallery .modal-dialog .modal-content .modal-body {
  max-height: calc(100vh - 350px);
  overflow-y: auto;
  margin: 0 1rem 1rem 1rem;
  padding: 0 1rem;
}
#profile-gallery .modal-dialog .modal-content .modal-body::-webkit-scrollbar {
  width: 6px;
}
#profile-gallery .modal-dialog .modal-content .modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: #aea99e;
}
#profile-gallery .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 10px;
}
#profile-gallery .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
#profile-gallery .modal-dialog .modal-content .modal-body .gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -0.75rem;
}
#profile-gallery .modal-dialog .modal-content .modal-body .gallery .gallery-item {
  flex: 0 0 7.2rem;
  margin: 0.75rem;
  overflow: hidden;
}
#profile-gallery .modal-dialog .modal-content .modal-body .gallery .gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}
#profile-gallery .modal-dialog .modal-content .modal-body .gallery .gallery-item img:hover {
  transform: scale(1.15);
}
#profile-gallery .modal-dialog .modal-content .modal-footer {
  padding: 1rem 2rem 2rem 2rem;
  border: none;
}

.tambahModal .modal-dialog {
  width: 500px;
  margin: 8rem auto;
}
.tambahModal .modal-dialog .modal-content {
  border: 3px solid #fff;
  border-radius: 1.5rem;
  background-color: #010101;
  color: #fff;
}
.tambahModal .modal-dialog .modal-content .modal-header {
  margin-top: 2rem;
  border: none;
}
.tambahModal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 28px;
}
.tambahModal .modal-dialog .modal-content .modal-body {
  padding: 0 2rem 3rem 2rem;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm label,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm label {
  font-size: 16px;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .form-control,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .form-control {
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .form-control:disabled,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .form-control:disabled {
  background-color: #c2c2c2;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .form-control:disabled::placeholder,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .form-control:disabled::placeholder {
  color: #fff;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select {
  font-size: 16px;
  height: 36px;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-selected,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-selected {
  background-color: #fff;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-selected::after,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-selected::after {
  border: solid transparent;
  border-width: 10px 7px;
  border-color: #878b8d transparent transparent transparent;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-selected.select-arrow-active::after,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-selected.select-arrow-active::after {
  border-color: transparent transparent #878b8d transparent;
  top: 2px;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-items,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-items {
  background-color: #fff;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-items div,
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-selected,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-items div,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-selected {
  color: black;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.tambahModal .modal-dialog .modal-content .modal-body #addBankForm .custom-select .select-items div,
.tambahModal .modal-dialog .modal-content .modal-body #addProviderForm .custom-select .select-items div {
  border: none;
}

.disabled-group {
  position: relative;
}
.disabled-group .fa-lock {
  position: absolute;
  color: #111416;
  font-size: 18px;
  top: 9px;
  right: 6px;
}

.livecasino-btn-pos {
  position: absolute;
  width: 100%;
  bottom: 4rem;
  margin-left: 2rem;
}

/*# sourceMappingURL=style2.css.map */
